@import "tailwindcss";

@theme {
  --color-primary: #8BC652;
  --color-secondary: #2F2F2F;
  --color-tertiary: #000000;
  --color-background: #EEEBE6;
  --color-border: #1D1D1D;
  --color-accent: #7DAF4D;
  --color-accent-secondary: #3A3A39;
  --color-accent-tertiary: #EEF5DC;
  --color-accent-quaternary: #DCD6CA;
  --color-accent-quinary: #6C6C6C;
  --color-accent-senary: ##06352D;
  --font-family-sans: "Manrope", system-ui, -apple-system, sans-serif;
  --breakpoint-md: 800px;
}

body {
  font-family: var(--font-family-sans);
  background-color: var(--color-background);
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

header > div:first-child > div:last-child a {
  position: relative;
  text-decoration: none !important;
}

header > div:first-child > div:last-child a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

header > div:first-child > div:last-child a:hover::after {
  opacity: 1;
}

header input[type="text"] {
  color: #000000 !important;
}

header input[type="text"]::placeholder {
  color: #000000 !important;
}